# Rows and Columns

In [ ]:
import pandas as pd
import numpy as np
import random
import string

Pandas has two main data types; Series and Dataframe

## Series - Pandas Columnar Data
One Dimensional

In [ ]:
S = pd.Series([random.uniform(0, 9999) for _ in range(5)])
S

In [ ]:
type(S)

In [ ]:
S.index

In [ ]:
# You can slice Series objects like a list
S[0]

In [ ]:
S[1:3]

## Dataframes - Pandas Tabular Data
Two Dimensional

In [ ]:
# Our list of dictionaries
users = [
    {'first_name': 'Billy', 'last_name': 'Bob', 'department': 'Facilities', 'permanent_record_id': 123},
    {'first_name': 'Sally', 'last_name': 'Mae', 'department': 'Services', 'permanent_record_id': 124},
    {'first_name': 'Suzy', 'last_name': 'Queue', 'department': 'Engineering', 'permanent_record_id': 125},
    {'first_name': 'Bub', 'last_name': 'Ba', 'department': 'Management', 'permanent_record_id': 126}
]
users

In [ ]:
df = pd.DataFrame(users)
df

In [ ]:
df.info()

In [ ]:
df.index

In [ ]:
df.columns

## Get Item
Not just for lists

Dataframes resolve to columns

In [ ]:
# using the [] operator
df['first_name']

Columns resolve to scalars

In [ ]:
df['first_name'][1]

Believe it or not, strings are sequences, and they implement get item too.

In [ ]:
df['first_name'][1][0]

Dataframe columns can also be accessed directly as **attributes**.

In [ ]:
df.first_name

## Sales Data

In [ ]:
sales = pd.read_csv('data/sales.csv', header=0)

In [ ]:
sales.head()

### Filtering

In [ ]:
sales['COUNT'][:10]

In [ ]:
(sales['COUNT'] > 5000)[:10]

In [ ]:
sales[sales['COUNT'] > 5000].head()

In [ ]:
sales[sales['AGENT'] == 'Alice'].head()

### Adding a column
Dataframes are mutable

In [ ]:
sales['TOTAL_SALE'] = sales['COUNT'] * sales['PRICE']

In [ ]:
sales.head()

### Changing SELL_DATE from string to timestamp

#### Selecting data by index
.ix can use mixed indexes. .loc is for label based. .iloc is for integer based.

In [ ]:
sales.ix[0,'SELL_DATE']

More about indexing: http://pandas.pydata.org/pandas-docs/stable/indexing.html

In [ ]:
type(sales.ix[0,'SELL_DATE'])

In [ ]:
sales['SELL_DATE'] = pd.to_datetime(sales['SELL_DATE'])

In [ ]:
sales.head()

In [ ]:
sales.ix[0,'SELL_DATE']

In [ ]:
sales.ix[0,'SELL_DATE'].year

In [ ]:
sales[sales.SELL_DATE.dt.year == 2015].head()

## Group By Year and Quarter

In [ ]:
sales.SELL_DATE.dt.year[:10]

In [ ]:
sales.SELL_DATE.dt.quarter[:10]

In [ ]:
grouped = sales.groupby([sales.SELL_DATE.dt.year,sales.SELL_DATE.dt.quarter])['TOTAL_SALE'].sum()
grouped

In [ ]:
grouped.index